<div class="menu">
    <ul>
      <% if (isAdmin) { %>
        <li class="menu_item">
          <a href="/user-manager">用户管理</a>
        </li>
      <% } %>
  
      <li class="menu_item">
        <a href="/mobile-manager">手机管理</a>
      </li>
    </ul>
  </div>
  