<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <form action="/mobile/add" method="POST" enctype="multipart/form-data">
      <input type="text" name="mobilename" placeholder="请输入手机名称">

      <input type="file" name="mobile">

      <input type="submit" value="提交">
    </form>

  </body>
</html>
